.container-ADS {
  padding-bottom: 0;
}

.container-ADS p {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #646e80;
}

.period span {
  font-size: 1.6rem;
  color: #646e80;
}

.ads-btn {
  width: 25rem;
  height: 4.6rem;
  border: 1px solid #e0e4eb;
  border-radius: 2px 2px 0 0;
  background: transparent;
  color: #646e80;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.ads-btn span {
  cursor: pointer;
}

.down-arrow-icon {
  height: 0.6rem;
  width: 0.9rem;
}

.icon-container {
  position: relative;
}

.ads-tick-icon {
  width: 5.7rem;
  height: 5.7rem;
  fill: #22c646;
}

.tick-icon-absolute {
  position: absolute;
  z-index: 1;
  background: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ads-statistics-icon {
  width: 10rem;
  height: 8.2rem;
  fill: var(--grey-color);
}

.info-container {
  width: 70rem;
}

.info-container h4 {
  font-size: 1.6rem;
  font-weight: 500;

  color: #224461;
}

.info-container p {
  color: #646e80;
  font-size: 1.6rem;
}

.info-container span {
  font-size: 1.2rem;
  font-weight: 500;

  color: #234460;
}

.status-container span {
  color: var(--grey-color);
  font-weight: 500;
  font-size: 1.6rem;
}

.status-container h1 {
  font-size: 5rem;
  color: var(--dark-blue-color);
  font-weight: 300;
}

.euro-icon {
  width: 4rem;
  height: 4rem;
}
