.container-footer {
  width: 114rem;
  margin: 0 15rem;
  display: flex;
}

@media only screen and (max-width: 1600px) {
  .container-footer {
    width: 114rem;
    margin: 0 3rem;
  }
}

@media only screen and (max-width: 1300px) {
  .container-footer {
    width: 95rem;
    margin: 0 3rem;
  }
}

.footer {
  background-color: var(--main-color);
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(32, 48, 60, 0.1);
}

.footer-info {
  padding: 2rem;
}

.footer-info h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: var(--dark-blue-color);
}

.footer-info span {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--grey-color);
}

.text-blue {
  color: var(--blue-color) !important;
}

.footer-info p {
  color: #646e80;
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.footer-img-container {
  width: 36rem;
  padding: 0 0.8rem;
}

@media only screen and (max-width: 1300px) {
  .footer-img-container {
    width: 30rem;
  }
}

.img {
  height: auto;
  width: 100%;
}
